<h1>Advertisements Page</h1>
<% @ads.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<hr>
<% end %>