// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  color: white;
  background-color: #088a9a;
  padding: 10px;
  border: 2px solid #00cccc;
  border-radius: 10px;
  text-align: center;
  font-weight:bold;
}
